<% layout('./layouts/boilerplate.ejs') -%>

    <body>
        <div class="row">
            <div class="col-8 offset-2 ">


                <h3>Edit Listing</h3>

                <form method="post" action="/listings/<%=listing._id%>?_method=PUT"
                     class="needs-validation" novalidate enctype="multipart/form-data">
                    <div>
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="listing[title]"
                            value="<%=listing.title%>" required>

                            <div class="valid-feedback">
                                Title Looks good!
                            </div>
                    </div>

                    <div>
                        <label for="description" class="form-label">Description</label>

                            <textarea class="form-control" id="description" name="listing[description]" placeholder="Required example textarea" required> <%=listing.description%> </textarea>
                            <div class="invalid-feedback">
                              Please enter a message in the textarea.
                            </div>
    

                    </div>

                    <div class="mb-3 mt-2" style="height: 10rem; width: 17rem;">
                        <img src="<%=originalImageUrl%>" alt="">
                    </div>

                    <div>
                        <label for="image" class="form-label">Upload New Image</label>
                        <input type="file" class="form-control" id="image" name="listing[image]">

                    </div>

                    <div class="row">

                        <div class="col-4 ">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" id="price" name="listing[price]"
                                value="<%=listing.price%>" required>

                                <div class="invalid-feedback">
                                    Enter a valid price
                                </div>

                        </div>
    
                        <div class="col-8 ">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" id="country" name="listing[country]"
                                value="<%=listing.country%>" required>
    
                                <div class="invalid-feedback">
                                    Choose any country
                                </div>
    

                        </div>

                    </div>

                    <div>
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" name="listing[location]"
                            value="<%=listing.location%>" required>

                            <div class="invalid-feedback">
                                Choose a valid location
                            </div>

                            
                    </div>


                    <button class="btn btn-dark mt-4 mb-4 add-btn">Edit</button>

            </div>
        </div>

    </body>