<% layout('/layouts/boilerPlate') -%>

    <body>

        <div class="row">
            <div class="col-6 offset-3 ">

                <h3>
                    <%=listing.title%>
                </h3>

                <div class="card listing-card mt-3 ">

                    <div class="img">
                        <img src="<%=listing.image.url%>" class="card-img-top " alt="listing_image">
                    </div>

                    <div class="card-body mt-3 ">

                        <p class="card-text ">
                            Owned by: <i>
                                <%= listing.owner.username %>
                            </i>
                        </p>

                        <p class="card-text ">
                            <%=listing.description%>
                        </p>

                        <p class="card-text "><%=listing.price.toLocaleString("en-IN")%></p>

                        <p class="card-text ">
                            <%=listing.location%>
                        </p>

                        <p class="card-text ">
                            <%=listing.country%>
                        </p>

                    </div>

                </div>

                <% if(currUser && listing.owner._id.equals(currUser._id)){ %>


                    <div class="flex d-flex mb-3 ">

                        <a class="" href="/listings/<%=listing._id%>/edit"><button
                                class="btn btn-dark add-btn">Edit</button></a>


                        <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
                            <button class="btn btn-dark offset-4 ">Delete</button>
                        </form>

                    </div>


                    <% } %>


                        <% if(currUser){ %>

                            <div>

                                <h4>Leave a Review</h4>

                                <form method="post" action="/listings/<%=listing._id%>/reviews"
                                    class="form-floating needs-validation" novalidate>

                                    <div class=" mt-3 ">
                                        <label for="rating"> Rating </label>
                                        <fieldset class="starability-slot">
                                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]"
                                                value="1" checked aria-label="No rating." />
                                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                            <label for="first-rate1" title="Terrible">1 star</label>
                                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                            <label for="first-rate2" title="Not good">2 stars</label>
                                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                            <label for="first-rate3" title="Average">3 stars</label>
                                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                            <label for="first-rate4" title="Very good">4 stars</label>
                                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                            <label for="first-rate5" title="Amazing">5 stars</label>
                                        </fieldset>
                                    </div>


                                    <div>
                                        <label for="comment" class="mb-2 mt-1  ">Comment</label>
                                        <textarea class="form-control" placeholder="Leave a comment here"
                                            name="review[comment]" id="comment" cols="10" rows="5" required></textarea>
                                        <div class="invalid-feedback">
                                            Please leave a comment for review
                                        </div>
                                    </div>


                                    <button class="btn btn-dark mt-3 mb-3 ">Submit</button>


                                </form>

                            </div>

                            <% } %>

                                <hr>

                                <% if(listing.reviews.length>0) { %>


                                    <p> <b>All Reviews</b></p>
                                    <div class="row">
                                        <%for(review of listing.reviews){%>

                                            <div class="card col-5 mb-3 me-4 ">
                                                <div class="card-body">

                                                    <div class="card-title">
                                                        <b>@<%=review.author.username%></b>
                                                    </div>

                                                    <p class="starability-result card-text "
                                                        data-rating=<%=review.rating%>>
                                                    </p>

                                                    <div class="card-text mb-1 ">
                                                        <%=review.comment%>
                                                    </div>


                                                    <form method="post"
                                                        action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
                                                        class="mb-1 ">
                                                        <button class="btn btn-sm btn-dark">Delete</button>
                                                    </form>
                                                </div>
                                            </div>

                                            <%}%>
                                    </div>
                                    <%}%>


            </div>

            <!-- <div class="col-6 offset-3 mb-3">

                <h3>Where you'll be</h3>
                <div id="map"></div>

            </div> -->
        </div>


        <!-- for map below -->

        <!-- <script>
            let mapToken = "<%=process.env.MAP_TOKEN%>"
            console.log(mapToken)
            mapboxgl.accessToken = mapToken

            const map = new mapboxgl.Map({
            container: 'map', // container ID
            center: [-74.5, 40], // starting position [lng, lat]
            zoom: 9 // starting zoom
            });

        </script> -->

    </body>